<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="TestPages.Listeners"/>
    </listeners>
    <test name="Test 1">
        <classes>
            <class name="TestPages.HomePageTest"/>
        </classes>
    </test>
    <test name="Test 2">
        <classes>
            <class name="TestPages.WebPageLoginTest"/>
        </classes>
    </test>
</suite>